# Importing necessary libraries:

In [58]:
import selenium
from selenium import webdriver
import time
import pandas as pd
import requests
import re 
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import NoSuchElementException

## Opening the Chromedriver:

In [59]:
driver = webdriver.Chrome('chromedriver.exe')

# Question - 1:

In [60]:
# Collecting the "url" and opening the website:

url = "https://www.amazon.in/"
driver.get(url)

time.sleep(3)

In [61]:
# Giving the xpath here:

search = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")

In [62]:
# Using the input function instead of entering the keyword directly:

search.send_keys(input())
Search_button = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
Search_button.click()

shoes

# Question - 2:

In [63]:
# Here we have extracted the "urls":

# Used 3 here, because we have to extract the data till page 3.

start = 0
end = 3 

url = []
for i in range(start,end):
    try:
        ur = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a')
        for i in ur:
            url.append(i.get_attribute('href'))       
    except NoSuchElementException:
        url.append("-")
    
    time.sleep(2)
    nxt_button = driver.find_elements_by_xpath("//div[@class='a-section a-spacing-large a-spacing-top-large a-text-center s-pagination-container']/span/a[3]")   
    try:
        driver.get(nxt_button[0].get_attribute('href')) 
    except:
        driver.get(nxt_button[1].get_attribute('href'))
len(url)

200

In [64]:
# Creation the empty lists:
brand=[]     
price=[]
product=[]
exchange=[]
delivery=[]
availability=[]
# Used try and except:
for i in url:    
    try:                           
        driver.get(i)
        time.sleep(2)             
        br=driver.find_element_by_xpath('//h1[@class="a-size-large a-spacing-none"]')
        brand.append(br.text)                                  
    except NoSuchElementException:
        brand.append("-")
        
    try:
        pri=driver.find_element_by_xpath('//span[@class="a-price-whole"]')
        price.append(pri.text)
    except NoSuchElementException:
        price.append("-")
        
    try:
        pro=driver.find_element_by_xpath('//span[@class="a-size-large product-title-word-break"]')
        product.append(pro.text)
    except NoSuchElementException:
        product.append("-")
    
    try:
        exc=driver.find_element_by_xpath('//*[@id="RETURNS_POLICY"]/span/div[2]')
        exchange.append(exc.text)
    except NoSuchElementException:
        exchange.append("-")
    
    try:
        de=driver.find_element_by_xpath('//*[@id="ddmDeliveryMessage"]/b')
        delivery.append(de.text)
    except NoSuchElementException:
        delivery.append("-")
    
    try:
        ava=driver.find_element_by_xpath('//span[@class="a-size-medium a-color-success"]')
        availability.append(ava.text)
    except NoSuchElementException:
        availability.append("-")
    
        
print(len(brand))              
print(len(price)) 
print(len(product))
print(len(exchange))
print(len(delivery))
print(len(availability))

200
200
200
200
200
200

In [65]:
# Creating the DataFrame - 
df = pd.DataFrame({'Brand Name':brand,'Name of the Product':product,'Price':price,'Return/Exchange':exchange,'Expected Delivery':delivery,'Availability':availability,'Product URL':url})
df

,Brand Name,Name of the Product,Price,Return/Exchange,Expected Delivery,Availability,Product URL
0,"ASIAN Men's Bouncer-01 Sports,Walking,Gym,Trai...","ASIAN Men's Bouncer-01 Sports,Walking,Gym,Trai...",549,Returns Policy,"Wednesday, Feb 2",In stock.,https://www.amazon.in/gp/slredirect/picassoRed...
1,"ASIAN Men's Century-12 Running,Walking,Sports ...","ASIAN Men's Century-12 Running,Walking,Sports ...",574,30 Days Returns & Exchange,"Wednesday, Feb 2",In stock.,https://www.amazon.in/gp/slredirect/picassoRed...
2,Multicolour Mens Gymming Shoes,Multicolour Mens Gymming Shoes,499,30 Days Returns & Exchange,"Tuesday, Feb 1",In stock.,https://www.amazon.in/gp/slredirect/picassoRed...
3,ASIAN Men's Running Shoes,ASIAN Men's Running Shoes,449,30 Days Returns & Exchange,"Wednesday, Feb 2",In stock.,https://www.amazon.in/gp/slredirect/picassoRed...
4,ASIAN Men's Wonder-13 Sports Running Shoes,ASIAN Men's Wonder-13 Sports Running Shoes,759.,-,-,-,https://www.amazon.in/Asian-shoes-Running-Firo...
...,...,...,...,...,...,...,...
195,Arivo Men's Casual Running Shoes Walking Sock ...,Arivo Men's Casual Running Shoes Walking Sock ...,649,30 Days Returns & Exchange,"Monday, Jan 31",In stock.,https://www.amazon.in/gp/slredirect/picassoRed...
196,D Shoes Sports Running Shoes for Men's,D Shoes Sports Running Shoes for Men's,599,30 Days Returns & Exchange,"Monday, Jan 31",In stock.,https://www.amazon.in/gp/slredirect/picassoRed...
197,Multicolour Mens Gymming Shoes,Multicolour Mens Gymming Shoes,499,30 Days Returns & Exchange,"Tuesday, Feb 1",In stock.,https://www.amazon.in/gp/slredirect/picassoRed...
198,ASIAN Rafale-01 Sports Shoes for Men | Latest ...,ASIAN Rafale-01 Sports Shoes for Men | Latest ...,684.,-,-,-,https://aax-eu.amazon.in/x/c/QkalL1fnyEv4Hrnfm...
199,ASIAN Rafale-01 Sports Shoes for Men | Latest ...,ASIAN Rafale-01 Sports Shoes for Men | Latest ...,649,30 Days Returns & Exchange,"Sunday, Jan 30",In stock.,https://www.amazon.in/ASIAN-Rafale-01-Sports-R...

In [68]:
df. to_csv("Products.csv")

# Question - 3 :

In [5]:
url3 = 'http://www.images.google.com'  
driver.get(url3)
time.sleep(2)

search_bar = driver.find_element_by_xpath('//input[@class="gLFyf gsfi"]')    
search_bar.send_keys("Fruits")                                                 
search_btn = driver.find_element_by_xpath('//span[@class="z1asCe MZy1Rb"]')  
search_btn.click()
for i in range(200):
    driver.execute_script("window.scrollBy(0,1000)")                       
    images = driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')

img_urls = []                                                               
for image in images: 
    source = image.get_attribute('src')                                    
    if source is not None:
        if(source[0:4] == 'http'):
            img_urls.append(source)
len(img_urls)                                                              
for i in range(len(img_urls)):                                             
    if i>10:                                                               
        break
    print("Downloading {0} of {1} images".format(i,10))
    response = requests.get(img_urls[i])
    file = open(r"E:\New folder\New folder"+str(i)+".jpg","wb")   
    file.write(response.content)

Downloading 0 of 10 images
Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images
Downloading 7 of 10 images
Downloading 8 of 10 images
Downloading 9 of 10 images
Downloading 10 of 10 images

In [6]:
url3 = 'http://www.images.google.com'  
driver.get(url3)
time.sleep(2)

search_bar = driver.find_element_by_xpath('//input[@class="gLFyf gsfi"]')    
search_bar.send_keys("Cars")                                                
search_btn = driver.find_element_by_xpath('//span[@class="z1asCe MZy1Rb"]')  
search_btn.click()
for i in range(200):
    driver.execute_script("window.scrollBy(0,1000)")                       
    images = driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')

img_urls = []                                                               
for image in images: 
    source = image.get_attribute('src')                                    
    if source is not None:
        if(source[0:4] == 'http'):
            img_urls.append(source)
len(img_urls)                                                              
for i in range(len(img_urls)):                                             
    if i>10:                                                               
        break
    print("Downloading {0} of {1} images".format(i,10))
    response = requests.get(img_urls[i])
    file = open(r"E:\New folder\New folder"+str(i)+".jpg","wb")   
    file.write(response.content)

Downloading 0 of 10 images
Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images
Downloading 7 of 10 images
Downloading 8 of 10 images
Downloading 9 of 10 images
Downloading 10 of 10 images

In [7]:
url3 = 'http://www.images.google.com'  
driver.get(url3)
time.sleep(2)

search_bar = driver.find_element_by_xpath('//input[@class="gLFyf gsfi"]')    
search_bar.send_keys("Machine Learning")                                                
search_btn = driver.find_element_by_xpath('//span[@class="z1asCe MZy1Rb"]')
search_btn.click()
for i in range(200):
    driver.execute_script("window.scrollBy(0,1000)")                       
    images = driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')

img_urls = []                                                               
for image in images: 
    source = image.get_attribute('src')                                    
    if source is not None:
        if(source[0:4] == 'http'):
            img_urls.append(source)
len(img_urls)                                                              
for i in range(len(img_urls)):                                             
    if i>10:                                                               
        break
    print("Downloading {0} of {1} images".format(i,10))
    response = requests.get(img_urls[i])
    file = open(r"E:\New folder\New folder"+str(i)+".jpg","wb")   
    file.write(response.content)

Downloading 0 of 10 images
Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images
Downloading 7 of 10 images
Downloading 8 of 10 images
Downloading 9 of 10 images
Downloading 10 of 10 images

In [8]:
url3 = 'http://www.images.google.com'  
driver.get(url3)
time.sleep(2)

search_bar = driver.find_element_by_xpath('//input[@class="gLFyf gsfi"]')    
search_bar.send_keys("Guitar")                                                
search_btn = driver.find_element_by_xpath('//span[@class="z1asCe MZy1Rb"]')  
search_btn.click()
for i in range(200):
    driver.execute_script("window.scrollBy(0,1000)")                       
    images = driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')

img_urls = []                                                               
for image in images: 
    source = image.get_attribute('src')                                    
    if source is not None:
        if(source[0:4] == 'http'):
            img_urls.append(source)
len(img_urls)                                                              
for i in range(len(img_urls)):                                             
    if i>10:                                                               
        break
    print("Downloading {0} of {1} images".format(i,10))
    response = requests.get(img_urls[i])
    file = open(r"E:\New folder\New folder"+str(i)+".jpg","wb")   
    file.write(response.content)

Downloading 0 of 10 images
Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images
Downloading 7 of 10 images
Downloading 8 of 10 images
Downloading 9 of 10 images
Downloading 10 of 10 images

In [9]:
url3 = 'http://www.images.google.com'  
driver.get(url3)
time.sleep(2)

search_bar = driver.find_element_by_xpath('//input[@class="gLFyf gsfi"]')    
search_bar.send_keys("Cakes")                                                
search_btn = driver.find_element_by_xpath('//span[@class="z1asCe MZy1Rb"]')  
search_btn.click()
for i in range(200):
    driver.execute_script("window.scrollBy(0,1000)")                      
    images = driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')

img_urls = []                                                               
for image in images: 
    source = image.get_attribute('src')                                   
    if source is not None:
        if(source[0:4] == 'http'):
            img_urls.append(source)
len(img_urls)                                                              
for i in range(len(img_urls)):                                             
    if i>10:                                                               
        break
    print("Downloading {0} of {1} images".format(i,10))
    response = requests.get(img_urls[i])
    file = open(r"E:\New folder\New folder"+str(i)+".jpg","wb")   
    file.write(response.content)

Downloading 0 of 10 images
Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images
Downloading 7 of 10 images
Downloading 8 of 10 images
Downloading 9 of 10 images
Downloading 10 of 10 images

# Question 4 :

In [11]:
url3 = 'http://www.flipkart.com' 
driver.get(url3)

time.sleep(1)

search = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input') 
search.send_keys(input())                                         

click = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]') 
click.click()
time.sleep(2)
url = []                                                         
try:                                                              
    ur = driver.find_elements_by_xpath('//div[@class="_2kHMtA"]/a')
    for i in ur:                                      
        url.append(i.get_attribute('href'))                     
except NoSuchElementException:
        url.append("No Brand Available")
len(url)

Samsung

24

In [12]:
brand=[]                                
price=[]
product=[]
colour=[]
ram=[]
rom=[]
primary=[]
secondary=[]
display=[]
battery=[]

for i in url:

    try:                                
        driver.get(i)
        time.sleep(2)
        bran=driver.find_element_by_xpath('//span[@class="B_NuCI"]')
        brand.append(bran.text.split()[0])
        but=driver.find_element_by_xpath('//button[@class="_2KpZ6l _1FH0tX"]')
        but.click()
    except NoSuchElementException:
        brand.append("-")
        
    try:
        pric=driver.find_element_by_xpath('//div[@class="_30jeq3 _16Jk6d"]')
        price.append(pric.text)
    except NoSuchElementException:
        price.append("-")
        
    try:
        prod=driver.find_element_by_xpath('//span[@class="B_NuCI"]')
        product.append(prod.text)
    except NoSuchElementException:
        product.append("-")
        
    try:
        colo=driver.find_element_by_xpath('//span[@class="B_NuCI"]')
        colour.append(colo.text.split()[2:4])
    except NoSuchElementException:
        colour.append("-")
    
    try:
        ra=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[8]/div[1]/div/div[2]/ul/li[1]')
        ram.append(ra.text.split('|')[0])
    except NoSuchElementException:
        ram.append("-")
     
    try:
        ro=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[8]/div[1]/div/div[2]/ul/li[1]')
        rom.append(ro.text.split('|')[1])
    except NoSuchElementException:
        rom.append("-")
    
    try:
        prim=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[8]/div[1]/div/div[2]/ul/li[3]')
        primary.append(prim.text.split('|')[0])
    except NoSuchElementException:
        primary.append('-')
    
    try:
        secon=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[9]/div[4]/div/div[2]/div[1]/div[5]/table/tbody/tr[5]/td[2]/ul/li')
        secondary.append(secon.text)
    except NoSuchElementException:
        secondary.append('-')
    
    try:
        disp=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[8]/div[1]/div/div[2]/ul/li[2]')
        display.append(disp.text)
    except NoSuchElementException:
        display.append('-')
    
    try:
        batt=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[8]/div[1]/div/div[2]/ul/li[4]')
        battery.append(batt.text)
    except NoSuchElementException:
        battery.append('-')
        
print(len(brand))                     
print(len(price))
print(len(product))
print(len(ram))
print(len(rom))
print(len(colour))
print(len(primary))
print(len(secondary))
print(len(display))
print(len(battery))

24
24
24
24
24
24
24
24
24
24

In [13]:
# Creating a DataFrame
df3 = pd.DataFrame({'Brand Name':brand,'Smartphone name':product,'Colour':colour,'RAM':ram,'Storage(ROM)':rom,'Primary Camera':primary,'Secondary Camera':secondary,'Display Size':display,'Battery Capacity':battery,'Price':price,'Product URL':url})
df3

,Brand Name,Smartphone name,Colour,RAM,Storage(ROM),Primary Camera,Secondary Camera,Display Size,Battery Capacity,Price,Product URL
0,SAMSUNG,"SAMSUNG Galaxy F12 (Sky Blue, 64 GB) (4 GB RAM)","[F12, (Sky]",4 GB RAM,64 GB ROM,48MP + 5MP + 2MP + 2MP,-,16.55 cm (6.515 inch) HD+ Display,6000 mAh Lithium-ion Battery,"₹11,499",https://www.flipkart.com/samsung-galaxy-f12-sk...
1,SAMSUNG,"SAMSUNG Galaxy F12 (Sea Green, 64 GB) (4 GB RAM)","[F12, (Sea]",4 GB RAM,64 GB ROM,48MP + 5MP + 2MP + 2MP,-,16.55 cm (6.515 inch) HD+ Display,6000 mAh Lithium-ion Battery,"₹11,499",https://www.flipkart.com/samsung-galaxy-f12-se...
2,SAMSUNG,"SAMSUNG Galaxy F22 (Denim Black, 64 GB) (4 GB...","[F22, (Denim]",4 GB RAM,64 GB ROM,48MP + 8MP + 2MP + 2MP,-,16.26 cm (6.4 inch) HD+ Display,6000 mAh Lithium-ion Battery,"₹12,999",https://www.flipkart.com/samsung-galaxy-f22-de...
3,SAMSUNG,"SAMSUNG Galaxy F12 (Sky Blue, 128 GB) (4 GB RAM)","[F12, (Sky]",4 GB RAM,128 GB ROM,48MP + 5MP + 2MP + 2MP,-,16.55 cm (6.515 inch) HD+ Display,6000 mAh Lithium-ion Battery,"₹12,499",https://www.flipkart.com/samsung-galaxy-f12-sk...
4,SAMSUNG,"SAMSUNG Galaxy F12 (Sea Green, 128 GB) (4 GB ...","[F12, (Sea]",4 GB RAM,128 GB ROM,48MP + 5MP + 2MP + 2MP,-,16.55 cm (6.515 inch) HD+ Display,6000 mAh Lithium-ion Battery,"₹12,499",https://www.flipkart.com/samsung-galaxy-f12-se...
5,SAMSUNG,"SAMSUNG Galaxy F42 5G (Matte Black, 128 GB) (...","[F42, 5G]",6 GB RAM,128 GB ROM,64MP + 5MP + 2MP,-,16.76 cm (6.6 inch) Full HD+ Display,5000 mAh Lithium-ion Battery,"₹15,999",https://www.flipkart.com/samsung-galaxy-f42-5g...
6,SAMSUNG,"SAMSUNG Galaxy F12 (Celestial Black, 64 GB) (...","[F12, (Celestial]",4 GB RAM,64 GB ROM,48MP + 5MP + 2MP + 2MP,-,16.55 cm (6.515 inch) HD+ Display,6000 mAh Lithium-ion Battery,"₹11,499",https://www.flipkart.com/samsung-galaxy-f12-ce...
7,SAMSUNG,"SAMSUNG Galaxy F42 5G (Matte Aqua, 128 GB) (6...","[F42, 5G]",6 GB RAM,128 GB ROM,64MP + 5MP + 2MP,-,16.76 cm (6.6 inch) Full HD+ Display,5000 mAh Lithium-ion Battery,"₹15,999",https://www.flipkart.com/samsung-galaxy-f42-5g...
8,SAMSUNG,"SAMSUNG Galaxy F22 (Denim Black, 128 GB) (6 G...","[F22, (Denim]",6 GB RAM,128 GB ROM,48MP + 8MP + 2MP + 2MP,-,16.26 cm (6.4 inch) HD+ Display,6000 mAh Lithium-ion Battery,"₹14,999",https://www.flipkart.com/samsung-galaxy-f22-de...
9,SAMSUNG,"SAMSUNG Galaxy M12 (Black, 64 GB) (4 GB RAM)","[M12, (Black,]",-,-,-,-,-,-,"₹11,340",https://www.flipkart.com/samsung-galaxy-m12-bl...
10,SAMSUNG,"SAMSUNG Galaxy F42 5G (Matte Black, 128 GB) (...","[F42, 5G]",8 GB RAM,128 GB ROM,64MP + 5MP + 2MP,-,16.76 cm (6.6 inch) Full HD+ Display,5000 mAh Lithium-ion Battery,"₹17,999",https://www.flipkart.com/samsung-galaxy-f42-5g...
11,SAMSUNG,"SAMSUNG Galaxy F42 5G (Matte Aqua, 128 GB) (8...","[F42, 5G]",8 GB RAM,128 GB ROM,64MP + 5MP + 2MP,-,16.76 cm (6.6 inch) Full HD+ Display,5000 mAh Lithium-ion Battery,"₹17,999",https://www.flipkart.com/samsung-galaxy-f42-5g...
12,SAMSUNG,"SAMSUNG Galaxy F12 (Celestial Black, 128 GB) ...","[F12, (Celestial]",4 GB RAM,128 GB ROM,48MP + 5MP + 2MP + 2MP,-,16.55 cm (6.515 inch) HD+ Display,6000 mAh Lithium-ion Battery,"₹12,499",https://www.flipkart.com/samsung-galaxy-f12-ce...
13,SAMSUNG,"SAMSUNG Galaxy M12 (Black, 128 GB) (6 GB RAM)","[M12, (Black,]",-,-,-,-,-,-,"₹13,786",https://www.flipkart.com/samsung-galaxy-m12-bl...
14,SAMSUNG,"SAMSUNG Galaxy M32 (Black, 64 GB) (4 GB RAM)","[M32, (Black,]",-,-,-,-,-,-,"₹14,990",https://www.flipkart.com/samsung-galaxy-m32-bl...
15,SAMSUNG,"SAMSUNG Galaxy M12 (White, 128 GB) (6 GB RAM)","[M12, (White,]",-,-,-,-,-,-,"₹13,829",https://www.flipkart.com/samsung-galaxy-m12-wh...
16,SAMSUNG,"SAMSUNG Galaxy A52 (Awesome Black, 128 GB) (6...","[A52, (Awesome]",-,-,-,-,-,-,"₹24,509",https://www.flipkart.com/samsung-galaxy-a52-aw...
17,SAMSUNG,SAMSUNG Guru Music 2 SM-B315E (Black),"[Music, 2]",-,-,-,-,-,-,"₹2,170",https://www.flipkart.com/samsung-guru-music-2-...
18,SAMSUNG,"SAMSUNG Galaxy A22 5G (Violet, 128 GB) (6 GB ...","[A22, 5G]",-,-,-,-,-,-,"₹20,990",https://www.flipkart.com/samsung-galaxy-a22-5g...
19,SAMSUNG,SAMSUNG GURU MUSIC 2 (Black),"[MUSIC, 2]",-,-,-,-,-,-,"₹2,350",https://www.flipkart.com/samsung-guru-music-2/...
20,SAMSUNG,"SAMSUNG Galaxy M52 5G (Icy Blue, 128 GB) (8 G...","[M52, 5G]",-,-,-,-,-,-,"₹28,870",https://www.flipkart.com/samsung-galaxy-m52-5g...
21,SAMSUNG,"SAMSUNG Galaxy M12 (White, 64 GB) (4 GB RAM)","[M12, (White,]",-,-,-,-,-,-,"₹11,340",https://www.flipkart.com/samsung-galaxy-m12-wh...
22,SAMSUNG,"SAMSUNG Galaxy M32 5G (Sky Blue, 128 GB) (8 G...","[M32, 5G]",-,-,-,-,-,-,"₹20,580",https://www.flipkart.com/samsung-galaxy-m32-5g...
23,SAMSUNG,"SAMSUNG Galaxy M12 (Blue, 128 GB) (6 GB RAM)","[M12, (Blue,]",-,-,-,-,-,-,"₹14,129",https://www.flipkart.com/samsung-galaxy-m12-bl...

In [67]:
df3. to_csv("Samsungmobile.csv")

# Question 5 :

In [17]:
url = 'https://www.google.co.in/maps' 
driver.get(url)

time.sleep(3)

search = driver.find_element_by_id("searchboxinput")                       
search.clear()                                                             

time.sleep(3)

search.send_keys("Hyderabad")                                                  

button = driver.find_element_by_id("searchbox-searchbutton")               
button.click()                                                             

time.sleep(3)

try:

    url_string = driver.current_url                                       

    print("URL Extracted: ", url_string)                                  

    latit_long = re.findall(r'@(.*)data',url_string)                         

    if len(latit_long):

        latit_long_list = latit_long[0].split(",")                              

        if len(latit_long_list)>=2:                                          

            latitude = latit_long_list[0]                                          

            longitude = latit_long_list[1]                                          

        print("Latitude = {}, Longitude = {}".format(latitude, longitude))

except Exception as exc:                                                  

        print("Error: ", str(exc))

URL Extracted:  https://www.google.co.in/maps/place/Hyderabad,+Telangana/@17.4121531,78.1278444,10z/data=!3m1!4b1!4m5!3m4!1s0x3bcb99daeaebd2c7:0xae93b78392bafbc2!8m2!3d17.385044!4d78.486671
Latitude = 17.4121531, Longitude = 78.1278444

# Question 6 :

In [22]:
url = 'https://trak.in/' 
driver.get(url)
time.sleep(3)
fund = driver.find_element_by_xpath('//*[@id="menu-item-51510"]/a')
fund.click()

In [23]:
serial.no = []
date = []
start = []
ind = []
sub = []
city = []
invest = []
typi = []
amount = []


ser = driver.find_elements_by_xpath('//table[@id="tablepress-54"]/tbody/tr/td[1]')  
dat = driver.find_elements_by_xpath('//table[@id="tablepress-54"]/tbody/tr/td[2]')
star = driver.find_elements_by_xpath('//table[@id="tablepress-54"]/tbody/tr/td[3]')
indus = driver.find_elements_by_xpath('//table[@id="tablepress-54"]/tbody/tr/td[4]')
su = driver.find_elements_by_xpath('//table[@id="tablepress-54"]/tbody/tr/td[5]')
cit = driver.find_elements_by_xpath('//table[@id="tablepress-54"]/tbody/tr/td[6]')
inv = driver.find_elements_by_xpath('//table[@id="tablepress-54"]/tbody/tr/td[7]')
typ = driver.find_elements_by_xpath('//table[@id="tablepress-54"]/tbody/tr/td[8]')
amo = driver.find_elements_by_xpath('//table[@id="tablepress-54"]/tbody/tr/td[9]')


for i in ser:
    serial.no.append(i.text)    
for j in dat:
    date.append(j.text)
for k in star:
    start.append(k.text)
for l in indus:
    ind.append(l.text)
for m in su:
    sub.append(m.text)
for n in cit:
    city.append(n.text)
for o in inv:
    inves.append(o.text)
for p in typ:
    typee.append(p.text)
for q in amo:
    amount.append(q.text)
    
print(len(serial.no))     
print(len(date))
print(len(start))
print(len(ind))
print(len(sub))
print(len(city))
print(len(invest))
print(len(typi))
print(len(amount))

8
8
8
8
8
8
8
8
8

## January 2021 :

In [24]:
# Jan
df5 = pd.DataFrame({'Sr. No.':serial.no,'Date':date,'Startup Name':start,'Industry/Vertical':ind,'Sub-Vertical':sub,'City/Location':city,'Investor"s Name':invest,'Investment Type':typi,'Amount (In USD)':amount})
df5

,Sr. No.,Date,Startup Name,Industry/Vertical,Sub-Vertical,City/Location,"Investor""s Name",Investment Type,Amount (In USD)
0,1,15/01/2021,Digit Insurance,Financial Services,Insurance Services,Bengaluru,"A91 Partners, Faering Capital, TVS Capital Funds",Venture,"1,80,00,000"
1,2,28/01/2021,Bombay Shaving Company,Consumer Goods Company,"Shave care, beard care, and skincare products",New Delhi,Reckitt Benckiser,Venture,"6,172,258.50"
2,3,19/01/2021,DeHaat,AgriTech Startup,online marketplace for farm products and services,Patna,Prosus Ventures,Series C,"30,000,000"
3,4,19/01/2021,Darwinbox,SaaS,HR Tech,Mumbai,Salesforce Ventures,Seed,"15,000,000"
4,5,18/01/2021,mfine,Health Tech Startup,AI-powered telemedicine mobile app,Bengaluru,Heritas Capital Management,Venture Round,"16,000,000"
5,6,18/01/2021,Udayy,EdTech,Online learning platform for kids in class 1-5,Gurgaon,Sequoia Capital,Seed Funding,"15,000,000"
6,7,11/01/2021,True Elements,Food Startup,Whole Food plant based Nashta,Pune,SIDBI Venture Capital,Series,"100,000,000"
7,8,13/01/2021,Saveo,B2B E-commerce,Pharmacies,Bengaluru,"Matrix Partners India, RTP Global, others",Seed,"4,000,000"

In [25]:
serial.no = []
date = []
start = []
ind = []
sub = []
city = []
invest = []
typi = []
amount = []

ser = driver.find_elements_by_xpath('//table[@id="tablepress-55"]/tbody/tr/td[1]')
dat = driver.find_elements_by_xpath('//table[@id="tablepress-55"]/tbody/tr/td[2]')
star = driver.find_elements_by_xpath('//table[@id="tablepress-55"]/tbody/tr/td[3]')
indust = driver.find_elements_by_xpath('//table[@id="tablepress-55"]/tbody/tr/td[4]')
su = driver.find_elements_by_xpath('//table[@id="tablepress-55"]/tbody/tr/td[5]')
cit = driver.find_elements_by_xpath('//table[@id="tablepress-55"]/tbody/tr/td[6]')
inv = driver.find_elements_by_xpath('//table[@id="tablepress-55"]/tbody/tr/td[7]')
typ = driver.find_elements_by_xpath('//table[@id="tablepress-55"]/tbody/tr/td[8]')
amo = driver.find_elements_by_xpath('//table[@id="tablepress-55"]/tbody/tr/td[9]')


for i in ser:
    serial.no.append(i.text)
for j in dat:
    date.append(j.text)
for k in star:
    start.append(k.text)
for l in indust:
    ind.append(l.text)
for m in su:
    sub.append(m.text)
for n in cit:
    city.append(n.text)
for o in inv:
    invest.append(o.text)
for p in typ:
    typi.append(p.text)
for q in amo:
    amount.append(q.text)
print(len(serial.no))
print(len(date))
print(len(start))
print(len(ind))
print(len(sub))
print(len(city))
print(len(invest))
print(len(typi))
print(len(amount))

9
9
9
9
9
9
9
9
9

# February 2021 :

In [26]:
# Feb
df5 = pd.DataFrame({'Sr. No.':serial.no,'Date':date,'Startup Name':start,'Industry/Vertical':ind,'Sub-Vertical':sub,'City/Location':city,'Investor"s Name':invest,'Investment Type':typi,'Amount (In USD)':amount})
df5

,Sr. No.,Date,Startup Name,Industry/Vertical,Sub-Vertical,City/Location,"Investor""s Name",Investment Type,Amount (In USD)
0,1,11/02/2021,Doubtnut,Edu Tech,E-Learning Platform,Gurgaon,"SIG Global, Sequoia Capital, WaterBridge Ventu...",Series B,"2,500,000"
1,2,22/02/2021,Zomato,Hospitality,Online Food Delivery Platform,Gurgaon,"Tiger Global, Kora",Venture,"250,000,000"
2,3,19/02/2021,Fingerlix,Hospitality,Semi-cooked food delivery app,Mumbai,"Rhodium Trust, Accel Partners and Swiggy",Series C,"2,747,045.20"
3,4,17/02/2021,Zolve,FinTech,Global Neobank Venture,Mumbai,Accel Partners and Lightspeed Venture Partners,Seed,"1,50,00,000"
4,5,15/02/2021,KreditBee,Finance,Digital lending platform,Bengaluru,Azim Premji’s PremjiInvest and South Korea’s M...,Series C,"75,000,000"
5,6,12/02/2021,Pepperfry,E-commerce,Multi-brand furniture brand,Mumbai,InnoVen Capital,Debt Financing,"4,773,958"
6,7,12/02/2021,Grofers,E-Commerce,Online supermarket,Gurgaon,SoftBank Vision Fund (SVF),Unspecified,"55,000,000"
7,8,09/02/2021,Nothing,Technology,Consumer Technology Venture,London,GV,Series A,"15,000,000"
8,9,09/02/2021,SplashLearn,EdTech,Game-based learning programme,Gurgaon,Owl Ventures,Series C,"18,000,000"

In [27]:
serial.no = []
date = []
start = []
ind = []
sub = []
city = []
invest = []
typi = []
amount = []

ser = driver.find_elements_by_xpath('//table[@id="tablepress-56"]/tbody/tr/td[1]')
dat = driver.find_elements_by_xpath('//table[@id="tablepress-56"]/tbody/tr/td[2]')
star = driver.find_elements_by_xpath('//table[@id="tablepress-56"]/tbody/tr/td[3]')
indus = driver.find_elements_by_xpath('//table[@id="tablepress-56"]/tbody/tr/td[4]')
su = driver.find_elements_by_xpath('//table[@id="tablepress-56"]/tbody/tr/td[5]')
cit = driver.find_elements_by_xpath('//table[@id="tablepress-56"]/tbody/tr/td[6]')
inv = driver.find_elements_by_xpath('//table[@id="tablepress-56"]/tbody/tr/td[7]')
typ = driver.find_elements_by_xpath('//table[@id="tablepress-56"]/tbody/tr/td[8]')
amo = driver.find_elements_by_xpath('//table[@id="tablepress-56"]/tbody/tr/td[9]')

for i in ser:
    serial.no.append(i.text)
for j in dat:
    date.append(j.text)
for k in star:
    start.append(k.text)
for l in indus:
    ind.append(l.text)
for m in su:
    sub.append(m.text)
for n in cit:
    city.append(n.text)
for o in inv:
    invest.append(o.text)
for p in typ:
    typi.append(p.text)
for q in amo:
    amount.append(q.text)
print(len(serial.no))
print(len(date))
print(len(start))
print(len(ind))
print(len(sub))
print(len(city))
print(len(invest))
print(len(typi))
print(len(amount))

7
7
7
7
7
7
7
7
7

# March 2021 :

In [28]:
# march
df5 = pd.DataFrame({'Sr. No.':serial.no,'Date':date,'Startup Name':start,'Industry/Vertical':ind,'Sub-Vertical':sub,'City/Location':city,'Investor"s Name':invest,'Investment Type':typi,'Amount (In USD)':amount})
df5

,Sr. No.,Date,Startup Name,Industry/Vertical,Sub-Vertical,City/Location,"Investor""s Name",Investment Type,Amount (In USD)
0,1,04/03/2021,DealShare,E-commerce,Online shopping platform,"Jaipur, Rajasthan",Innoven Capital,Debt Financing,"250,000,000"
1,2,31/03/2021,Uniphore,Technology,Conversational Service Automation (CSA),Palo Alto,Sorenson Capital Partners,Series D,"140,000,000"
2,3,30/03/2021,Dunzo,E-commerce,Hyper-local delivery app,Bengaluru,Krishtal Advisors Pte Ltd,Series E,"8,000,000"
3,4,30/03/2021,BYJU’S,Edu-tech,Online tutoring,Bengaluru,"MC Global Edtech, B Capital, Baron, others",Series F,"460,000,000"
4,5,23/03/2021,SkilloVilla,Edu-tech,Career and job-oriented upskilling.,Bengaluru,"Titan Capital, others",Seed,"300,000,000"
5,6,25/03/2021,CityMall,E-commerce,Social ecommerce and online grocery platform,Gurgaon,Accel Partners,Series A,"11,000,000"
6,7,26/03/2021,DotPe,FinTech,Commerce and payments platform to offline ente...,Gurgaon,PayU,Series A,"27,500,000"

# Question 7 :

In [29]:
url = 'https://www.digit.in/' 
driver.get(url)
time.sleep(3)
search = driver.find_element_by_xpath('/html/body/div[4]/div/div[2]/div[2]/div[4]/ul/li[9]/a')
search.click()

In [30]:
heading = []
opera = []
display=[]
processor=[]
memory=[]

head=driver.find_elements_by_tag_name('h3')  
for i in head:
    heading.append(i.text)                  
ope=driver.find_elements_by_xpath('//div[@class="product-detail"]/div/ul/li[1]/div')
for j in ope:                                
    opera.append(j.text.split('\n')[1])
disp=driver.find_elements_by_xpath('//div[@class="product-detail"]/div/ul/li[2]/div')
for k in disp:                               
    display.append(k.text.split('\n')[1])
proc=driver.find_elements_by_xpath('//div[@class="product-detail"]/div/ul/li[4]/div/div')
for l in proc:                                 
    processor.append(l.text)
memo=driver.find_elements_by_xpath("//div[@class='Spcs-details'][1]/table/tbody/tr[6]/td[3]") 
for m in memo:                               
    memory.append(m.text)
                          
print(len(heading))                         
print(len(opera))
print(len(display))
print(len(processor))
print(len(memory))

10
10
10
10
10

In [31]:
# Creating DataFrame
df6 = pd.DataFrame({'Name of Laptop':heading,'Operating System':opera,'Display':display,'Processor':processor,'Memory':memory})
df6

,Name of Laptop,Operating System,Display,Processor,Memory
0,ACER NITRO 5,WINDOWS 10,"15.6"" (1920 X 1080)",AMD RYZEN 9 OCTA CORE | 2.4 GHZ,1 TB HDD/16 GBGB DDR4
1,MSI STEALTH 15M,WINDOWS 10,"15.6"" (1920 X 1080)",INTEL CORE I7 11TH GEN - 11375H | NA,1 TB SSD/16 GBGB DDR4
2,ASUS ROG STRIX SCAR 15,WINDOWS 10,"15.6"" (2560 X 1440)",AMD RYZEN 9 OCTA CORE - 5900HX | 3.3 GHZ,2 TB SSD/32 GBGB DDR4
3,ALIENWARE AREA 51M R2,WINDOWS 10 HOME,"17.3"" (1920 X 1080)",10TH GEN INTEL® CORE™ I7-10700 | 2.90 GHZ,1 TB SSD/16 GBGB DDR4
4,ALIENWARE M15 R3,WINDOWS 10 HOME,"15.6"" (3840 X 2160)",10TH GEN INTEL® CORE™ I9-10980HK | NA,1 TB SSD/16 GBGB DDR4
5,ASUS ROG STRIX SCAR 15,WINDOWS 10 HOME,"15.6"" (1920 X 1080)",AMD RYZEN™ 9 5900HX | 3.3 GHZ,1 TB SSD/16 GBGB DDR4
6,ASUS ZEPHYRUS G14,WINDOWS 10 HOME,"14"" (1920 X 1080)",AMD 3RD GEN RYZEN 9 | 3.3 GHZ,1 TB SSD/16 GBGB DDR4
7,LENOVO LEGION 5I,WINDOWS 10 PRO,"15.6"" (1920 X 1080)",10TH GEN INTEL® CORE™ I5-10300H | 2.50 GHZ,1 TB SSD/16 GBGB DDR4
8,ASUS ROG ZEPHYRUS DUO 15,WINDOWS 10,"15.6"" (3840 X 1100)",INTEL CORE I7 10TH GEN 10875H | NA,512 GB SSD/4 GBGB DDR4
9,ACER ASPIRE 7 GAMING LAPTOP,WINDOWS 10 HOME,"15.6"" (1920 X 1080)",AMD RYZEN™ 5-5500U HEXA-CORE | NA,512 GB SSD/8 GBGB DDR4

In [32]:
# Saving the DataFrame in a csv file
df6. to_csv('Gaming Laptops.csv')

# Question 8 :

In [34]:
url = 'https:www.forbes.com' 
driver.get(url)

time.sleep(2)

button = driver.find_element_by_xpath('/html/body/div[1]/header/nav/div[1]/button[1]') 
button.click()

time.sleep(3)

bill = driver.find_element_by_xpath('//li[@class="header__channel header__color--centennial-silver header__hoverable"]')  
bill.click()

time.sleep(4)                                          

all=[]
al =driver.find_elements_by_xpath('//li[@class="header__section header__section--all"]/a') 

for i in al:                             
    all.append(i.get_attribute('href'))                    
all = all[0]  
driver.get(all)                                        

time.sleep(2)

wo =driver.find_element_by_xpath('//h2[@class="chansec-special-feature__title no-label--special-feature"]') 
wo.click()
time.sleep(3)

rank=[]                
name=[]
worth=[]
age=[]
country=[]
source=[]
industry=[]

ran=driver.find_elements_by_xpath('//div[@class="rank"]')   
nam=driver.find_elements_by_xpath('//div[@class="personName"]')
wort=driver.find_elements_by_xpath('//div[@class="netWorth"]')
ag=driver.find_elements_by_xpath('//div[@class="age"]')
cou=driver.find_elements_by_xpath('//div[@class="countryOfCitizenship"]')
sou=driver.find_elements_by_xpath('//div[@class="source-column"]')
indus=driver.find_elements_by_xpath('//div[@class="category"]')

for i in ran:
    rank.append(i.text)   
for j in nam:
    name.append(j.text)
for k in wort:
    worth.append(k.text)
for n in ag:
    age.append(n.text)
for l in cou:
    country.append(l.text)
for m in sou:
    source.append(m.text) 
for o in indus:
    industry.append(o.text)  
    
print(len(name))  
print(len(rank))
print(len(worth))
print(len(age))
print(len(country))
print(len(source))
print(len(industry))

200
200
200
200
200
200
200

In [35]:
# Creating the DataFrame
df7 = pd.DataFrame({'Rank':rank,'Name':name,'Net Worth':worth,'Age':age,'Citizenship':country,'Source':source,'Industry':industry})
df7

,Rank,Name,Net Worth,Age,Citizenship,Source,Industry
0,1.,Jeff Bezos,$177 B,57,United States,Amazon,Technology
1,2.,Elon Musk,$151 B,49,United States,"Tesla, SpaceX",Automotive
2,3.,Bernard Arnault & family,$150 B,72,France,LVMH,Fashion & Retail
3,4.,Bill Gates,$124 B,65,United States,Microsoft,Technology
4,5.,Mark Zuckerberg,$97 B,36,United States,Facebook,Technology
...,...,...,...,...,...,...,...
195,195.,Harry Triguboff,$11.2 B,88,Australia,real estate,Real Estate
196,197.,Leonid Fedun & family,$11.1 B,65,Russia,oil,Energy
197,197.,Eyal Ofer,$11.1 B,70,Israel,"real estate, shipping",Diversified
198,197.,Evan Spiegel,$11.1 B,30,United States,Snapchat,Technology
199,200.,Luis Carlos Sarmiento,$11 B,88,Colombia,banking,Finance & Investments

In [36]:
df7. to_csv("Top Billionaires.csv")

# Question 9:

In [40]:
url = 'https://www.youtube.com/watch?v=tionpZAVPd4' 
driver.get(url)
for j in range(1000):
    driver.execute_script("window.scrollBy(0,500)")           
time.sleep(3)
com = []                                                       
upvote=[]
time=[]
comment =driver.find_elements_by_xpath('//*[@id="content-text"]')  
vote=driver.find_elements_by_id('vote-count-middle')
tym=driver.find_elements_by_id('header-author')
for k in comment:
    com.append(k.text.replace('\n',""))           
for l in vote:
    upvote.append(l.text)
for m in tym:
    time.append(m.text.split('\n')[-1])
print(len(com))                                   
print(len(upvote))
print(len(time))

619
619
619

In [41]:
df8 = pd.DataFrame({'Comments':com,'Comment upvote':upvote,'Time':time})
df8

,Comments,Comment upvote,Time
0,Ek like mere शहीद हुए बड़े bhaiyon ke liye ❤❤😢,5.2K,1 year ago
1,WHAT A SONG 🙏🙏,205,1 day ago
2,This is not only a song. This is a emotion of...,249,1 day ago
3,What a beautiful song !!!Magnifies our patriot...,128,3 days ago
4,Bhai ye song heart ko chu gaya,61,15 hours ago
...,...,...,...
614,My Grandfather was in INA with Netaji SubhashC...,535,10 months ago (edited)
615,Realy proud of Indian army,,1 day ago
616,Nice song ❣️❤️🧡💘❣️💔👍🙏🙋🙋😍,,6 days ago
617,It's very nice song,,2 days ago
618,JAY HIND NICE SONG,,6 hours ago

In [43]:
df8. to_csv("Youtubecom.csv")

# Question 10:

In [49]:
url = 'https://www.hostelworld.com/'  
driver.get(url)
time.sleep(2)
london=driver.find_element_by_xpath('/html/body/div[3]/div/div/div[1]/div[7]/section/div/div[1]/a')
london.click()
time.sleep(5)
search = driver.find_element_by_xpath('/html/body/div[1]/div[1]/div[2]/section[1]/div/div/form/div/div[2]/button') 
search.click()

In [50]:
name = []                        
distance=[]
ratings=[]
reviews=[]
totreview=[]
private=[]
dorms=[]
facilities=[]
hurl=[]

while(True):   
    nam=driver.find_elements_by_xpath('//h2[@class="title title-6"]')                
    dist=driver.find_elements_by_xpath('//div[@class="title-row"]/div/a/span[1]')
    ratn=driver.find_elements_by_xpath('//div[@class="rating rating-summary-container big"]')
    totrev=driver.find_elements_by_xpath('//div[@class="rating rating-summary-container big"]')
    tre=driver.find_elements_by_xpath('//div[@class="rating rating-summary-container big"]')
    priv=driver.find_elements_by_xpath('//div[@class="price-col"]')
    dor=driver.find_elements_by_xpath('//div[@class="price-col"]')
    facility=driver.find_elements_by_xpath('//div[@class="facilities-label facilities"]')
    urls=driver.find_elements_by_xpath("//h2[@class='title title-6']/a")

    for i in nam:
        name.append(i.text)                   
    for j in dist:
        distance.append(j.text)
    for k in ratn:
        ratings.append(k.text.split('\n')[0])
    for l in rev:
        reviews.append(l.text.split('\n')[1])
    for m in totrev:
            treview.append(m.text.split()[2])
    for o in priv:
        private.append(o.text.replace('\n',''))
    for p in dor:
        dorms.append(p.text.replace('\n',''))
    for q in facility:
        facilities.append(q.text)
    for url in urls:
        hurl.append(url.get_attribute('href'))
        
    for n in reviews:                            
        if "Rating"in n:
            reviews[reviews.index(n)] = "None"
        elif "Reviews"in n:
            reviews[reviews.index(n)] = "None"
       
    try:
        next_button = driver.find_element_by_xpath('//div[@class="pagination-item pagination-next"]')  

        next_button.click()

    except:

        break
print(len(name))                                
print(len(distance))
print(len(ratings))
print(len(reviews))
print(len(totreview))
print(len(private))
print(len(dorms))
print(len(facilities))
print(len(hurl))

82
82
82
82
82
164
164
82
82

In [51]:
p=private[0:200:2]
p2=dorms[1:200:2]
print(len(p))
print(len(p2))

82
82

In [54]:
description = []
for i in hurl:    
    try:
        driver.get(i)
        try:
            see=driver.find_element_by_xpath('//*[@id="__layout"]/div/div[1]/section/div[6]/div/div[2]/div/div/a')
            see.click()
        except:
            pass   
        desc=driver.find_element_by_xpath('//div[@class="description-container"]')
        description.append(desc.text)
    
    except NoSuchElementException:
        description.append("No Description Availabe")

In [55]:
df9 = pd.DataFrame({'Hostel Name':name,'Distance From City Centre':distance,'Total Reviews':treview,'Overall Reviews':reviews,'Privates From Price':p,'Dorms From Price':pp,'Facilities':facilities,'Property Description':description})
df9

,Hostel Name,Distance From City Centre,Total Reviews,Overall Reviews,Privates From Price,Dorms From Price,Facilities,Property Description
0,Mornington Camden,Hostel - 4.1km from city centre,44,Fabulous,No Privates Available,Dorms FromRs3266,Free WiFi,Property Description\nMornington Camden Hostel...
1,Smart Russell Square Hostel,Hostel - 2.6km from city centre,9567,Good,No Privates Available,Dorms FromRs1211,Free WiFi\nFollows Covid-19 sanitation guidance,Hostelworld says\nMany Hostelworld guests who ...
2,Smart Camden Inn Hostel,Hostel - 4.4km from city centre,2739,Fabulous,Privates FromRs6615,Dorms FromRs1955,Free WiFi\nFollows Covid-19 sanitation guidance,Property Description\nLocated in the middle of...
3,Selina Camden,Hostel - 5.5km from city centre,14,Superb,Privates FromRs13611,Dorms FromRs4537 Rs3856,Free WiFi,Property Description\nAmong underground music ...
4,Queen Elizabeth Chelsea,Hostel - 5.7km from city centre,Good,Very Good,Privates FromRs4307,Dorms FromRs1964,Free WiFi,Property Description\nPLEASE NOTE WE ONLY ACCE...
...,...,...,...,...,...,...,...,...
77,Green Rooms,Hotel - 10.8km from city centre,76,Superb,Privates FromRs7816,Dorms FromRs2468,Free WiFi,Property Description\nGreen Rooms is a pioneer...
78,23 Matheson Road,Bed and Breakfast - 6.2km from city centre,6,None,Privates FromRs5495,No Dorms Available,,Property Description\nThis pretty Victorian to...
79,Park Hotel Essex,Hotel - 24.1km from city centre,109,Fabulous,Privates FromRs11595,No Dorms Available,Free Breakfast\nFollows Covid-19 sanitation gu...,Property Description\nThis Hotel is the right ...
80,Cranbrook Hotel,Hotel - 14.8km from city centre,58,None,Privates FromRs4134,No Dorms Available,Free Breakfast\nFollows Covid-19 sanitation gu...,Property Description\nWe are located about twe...
81,TLK Apartments & Hotel,Hotel - 19.9km from city centre,0,None,Privates FromRs7562,No Dorms Available,Free WiFi,Property Description\nTo be in tune with what ...

In [56]:
df9. to_csv("Hostel_details.csv")

In [57]:
driver.close()